3CXCrmApi.Common/Service References/Crm3CXPhoneService/Crm3CXPhoneCallLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Crm3CXPhoneCallLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gnm-dev.ad.goodnightmedical.com:55000/Crm3CXPhoneCallLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gnm-dev.ad.goodnightmedical.com:55000/Crm3CXPhoneCallLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrm3CXPhoneCallLogService_InsertCallLog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCallLog" />
  </wsdl:message>
  <wsdl:message name="ICrm3CXPhoneCallLogService_InsertCallLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCallLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICrm3CXPhoneCallLogService_UpdateCallLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallLog" />
  </wsdl:message>
  <wsdl:message name="ICrm3CXPhoneCallLogService_UpdateCallLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCallLogResponse" />
  </wsdl:message>
  <wsdl:portType name="ICrm3CXPhoneCallLogService">
    <wsdl:operation name="InsertCallLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrm3CXPhoneCallLogService/InsertCallLog" message="tns:ICrm3CXPhoneCallLogService_InsertCallLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrm3CXPhoneCallLogService/InsertCallLogResponse" message="tns:ICrm3CXPhoneCallLogService_InsertCallLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCallLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrm3CXPhoneCallLogService/UpdateCallLog" message="tns:ICrm3CXPhoneCallLogService_UpdateCallLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrm3CXPhoneCallLogService/UpdateCallLogResponse" message="tns:ICrm3CXPhoneCallLogService_UpdateCallLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICrm3CXPhoneCallLogService" type="tns:ICrm3CXPhoneCallLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCallLog">
      <soap:operation soapAction="http://tempuri.org/ICrm3CXPhoneCallLogService/InsertCallLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCallLog">
      <soap:operation soapAction="http://tempuri.org/ICrm3CXPhoneCallLogService/UpdateCallLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Crm3CXPhoneCallLogService">
    <wsdl:port name="BasicHttpBinding_ICrm3CXPhoneCallLogService" binding="tns:BasicHttpBinding_ICrm3CXPhoneCallLogService">
      <soap:address location="http://gnm-dev.ad.goodnightmedical.com:55000/Crm3CXPhoneCallLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>